extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-5
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aut possimus, ullam nihil adipisci ipsum eveniet sunt animi hic laboriosam? Ullam quia unde aliquam ad animi officia! Incidunt, temporibus unde!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam dicta autem ipsa obcaecati labore libero ab perspiciatis ullam et natus reprehenderit, fuga provident? Harum odit, neque non quaerat perspiciatis cum?Tempora fugiat architecto excepturi sapiente repellendus delectus quibusdam molestiae impedit, quos magni eveniet reprehenderit sit nisi repellat explicabo vitae quo! Sint quod dolor vel eligendi, earum cupiditate facilis veritatis ex.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil magnam ab sunt perspiciatis commodi. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, voluptate magni officia in eum.
                .col-md-4
                    img(src="img/icono_destinos.svg",class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, voluptate magni officia in eum.
                .col-md-4
                    img(src="img/icono_precios.svg",class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, voluptate magni officia in eum.
